<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorpio.camera"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="com.qti.permission.PROFILER" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 获取设备信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- opengles版本控制 -->


    <uses-permission android:name="android.permission.CAMERA" />
    <!--android:theme="@style/AppTheme"-->
    <application
        android:icon="@drawable/ic_app_launcher"
        android:allowBackup="true"
        android:label="@string/app_yc_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".base.app.BaseApplication">
        <activity android:name="com.scorpio.camera.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scorpio.camera.activity.TestActivity">
        </activity>

        <service android:name="com.scorpio.library.base.app.InitializeService"/>


    </application>

</manifest>